# TeX output files
*.ps
*.cb
*.aux
*.dvi
*.pdf
*.out
*.toc
*.log
*.bak
*.swp
# Output from pandoc
*.man
# Compiled files
*.[oa]
topo/src/buildgraph
topo/src/dumpgraph
topo/src/extractcoll
topo/src/extracteq
topo/src/extractl1
topo/src/extractl2
topo/src/extractl3
topo/src/getnetif
www/htg/src/htgtcl
server/lib/pkgtcl/pkgIndex.tcl
server/www/node_modules/*
server/www/dist/*
