/* $Id: crc.css,v 1.1 2008-02-22 21:36:00 pda Exp $ */

/*****************************************************************************
 * Les grands éléments structurants de la page
 */

/* Le fond de la page et son cadre bi-couleur */
body {
	color: #515151;			/* texte : gris */
	background-color: #eff2f7;	/* fond bleu clair */
        font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0px;
	text-align: justify;
	font-size: 12px;
	vertical-align: top;
	margin: 3% 2% 3% 2%;		/* cadre bleu clair */
  	border: 1px solid #d3dde5;	/* liséré bleu soutenu */
}

table#fond-page {
	background-color: white;
	width: 100%;
	border-spacing: 0px;
  	border: 10px solid white;	/* cadre blanc autour du tableau */
}

img {
  	border: 0px; 
}

/* Les logo, titre de page et lignes de séparation */
td#logo {
	border: 0px;
	text-align: center;
	vertical-align: top;
}

td#titre-page {
	border: 0px;
	background-image: url(/images/backbleu.gif);
	background-repeat: repeat-y;
	background-position: 100% 0%;
	text-align: center;
	vertical-align: middle;
}

td#titre-page h1 {
	text-align: center;
	text-transform: uppercase;
	color: #818181;			/* gris */
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 30px;
}

td#separation-haut, td#separation-bas {
	margin: 0px;
	padding: 0px;
	border-top: #c7d2e2;
	border-width: 1px 0 0 0;
	border-style: solid none none none;
}

td#separation-haut div {
	margin: 0px;
	padding: 0px;
	height: 8px;
}

td#separation-bas div {
	margin: 0px;
	padding: 0px;
	height: 10px;
}

/* Le bandeau à gauche */
td#bandeau {
	vertical-align: top;
	background-color: #eaf0f8;
	border: 0px;
	border-top: 10px solid white;
	margin: 0px;
	padding: 0px;
        font-size: 10px;
        font-weight: bold;
}

/* Le texte de la page */
td#texte-page {
	vertical-align: top;
  	padding: 0px 20px 20px 20px;
	text-align : justify;
	line-height: 140%;
	width: 100%;
}

/* Le pied de page */
#pied-page {
	color: #63798d;
	font-size: 8px;
	vertical-align: middle;
}

#pied-page a:link, #pied-page a:active, #pied-page a:hover, #pied-page a:visited {
	color: #cc5229;
}

/******************************************************************************
 * La définition des menus dans le bandeau de gauche, et des éléments qui
 * les composent
 *
 * dl.menu
 *  `-- dt.menu-separation	(ligne de séparation blanche)
 *  |    `-- pas de texte
 *  `-- dt.menu-titre		(texte blanc sur fond orange)
 *  |    `-- texte
 *  `-- dt			(pas de classe, texte orange sur fond bleu soutenu)
 *  |    `-- texte
 *  |    `-- a
 *  |        `-- texte
 *  `-- dd			(par défaut : pas affiché, pas de classe
 *  |	 `-- ul				 pour simplifier l'écriture des menus)
 *  |	      `-- li
 *  |		   `-- a	(texte gris sur fond bleu clair)   
 *  |		   `-- a.menu-auth (texte orange sur fond bleu clair)   
 *  `-- dt.menu-meteo
 *       `-- a
 *            `-- img
 */

/*
 * le dl initial et tout ce qui en hérite, en particulier les éléments
 * des menus (ce qui est en dessous des menu-titre et menu-stitre, qui
 * n'a pas de 'class').
 */
dl.menu {
	width: 160px;
  	text-align: left;
	list-style: none none none;
}

/* les sous-titres du menu, éléments clickables pour les "déployer" */
.menu dt {
	cursor: pointer;
	color: #cc5229;
	background-color: #d3dde5;
        display: list-item;
	list-style: disc inside url(/images/fleche5.gif);
	font-weight: bold;
	padding: 0px 0px 3px 5px;
	margin-top: 10px;
	text-transform: uppercase;
	border-top: #8296bb;
	border-width: 1px 0 0 0;
	border-style: solid none none none;
}

/* quand ces sous-titres sont des liens, pas de changement de couleur */
.menu dt a:link, .menu dt a:visited, .menu dt a:hover, .menu dt a:active {
	color: #cc5229;
	background-color: #d3dde5;
	text-decoration: none;
}

/* éléments des menus, hérités du dl initial, pour en simplifier l'écriture */
dl.menu ul li a {
  	vertical-align: bottom;
  	display: block;
	padding: 3px 0px 3px 5px;
	text-decoration: none;
}

dl.menu ul li a:hover {
	color: white; background-color: #cc5229;
}

/* cas spécial pour les éléments en accès restreint : couleur différente */
a.menu-auth:link, a.menu-auth:visited, a.menu-auth:active {
	color: #cc5229;
}
a.menu-auth:hover {
	color: white;
	background-color: #cc5229;
}


/* ligne blanche de séparation dans les grandes parties du menu */
dt.menu-separation {
	display: block;
	cursor: auto;
  	height: 8px;
  	background-color: white;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/* les titres des grandes parties du menu */
dt.menu-titre {
  	display: block;
	cursor: auto;
  	text-transform: uppercase;
  	text-align: left;
	padding: 3px 0px 3px 5px;
  	margin: 0px;
  	color: white;
  	background-color: #cc5229;
  	text-decoration: none;
	border: 0px;
}

/* image météo dans le menu */
dt.menu-meteo {
	display: block;
	cursor: auto;
  	text-align: center;
	padding: 0px;
	margin: 0px;
  	background-color: white;
  	text-decoration: none;
	border: 0px;
}

dt.menu-meteo a {
	padding: 0px;
	margin: 0px;
  	background-color: white;
}

dt.menu-meteo a img {
  	background-color: white;
	display: block;
}

/******************************************************************************
 * Les éléments du texte
 * (cf ci-dessous pour cas spécial des news)
 */

#texte-page h2 {
        padding: 15px 0px 0px 0px;
        margin-bottom: 20px;
        color: #00536c;				/* bleu foncé */
        text-align: center;
        text-valign: center;
        font-size: 16px;
        font-weight: bold;
}

/* accolée au h2, htg met une image qui ne servira que pour l'impression */
#texte-page #image-a-imprimer-seulement {
	display: none;
}

.print_image {	/* OBSOLETE */
	display: none;
}

#texte-page h3 {
	display: list-item;
	color: #cc5229;				/* orange */
	list-style: disc inside url(/images/fleche5.gif);
	text-align: left;
	font-size: 13px;
	font-weight: bold;
}

#texte-page h4 {
	text-align: left;
	color: #313131;				/* gris soutenu */
	font-size: 13px;
	font-weight: bold;
}

#texte-page a:link, #texte-page a:active, #texte-page a:visited {
        color: #00536c;				/* bleu foncé */
        text-decoration: underline;
}

#texte-page a:hover {
	color: #cc5229;				/* orange */
	text-decoration: none;
}

#texte-page li {
        text-align: justify;
	margin-left: 25px;
        display: list-item ; 
	list-style: disc outside url(/images/tiret.gif);
}

/*
#texte-page li ul {
        text-align: justify;
	list-style: square outside none;
}
*/

#texte-page li ul li {
        text-align: justify;
        display: list-item;
	list-style: circle outside url(/images/tiret3.gif);
}

#texte-page li ul li ul li {
        text-align: justify;
        display: list-item;
	list-style: square outside url(/images/tiret2.gif);
}


/* pour le package arrgen */
.tab-text8 { font-size: 10px; }
.tab-text10 { font-size: 12px; }
.tab-text12 { font-size: 14px; }
.tab-text14 { font-size: 16px; }
.tab-text16 { font-size: 20px; }
.tab-text18 { font-size: 24px; }

/******************************************************************************
 * Les actus du CRC : les classes sont utilisées à la fois dans les pages
 * d'accueil et dans les pages de texte classique.
 *
 * Les "document-trees" sont :
 *
 * td.texte-page			(page de texte normale)
 *  `-- (le titre de la page)
 *  `-- div.texte-news
 *  |    `-- a				(ancre)
 *  |    |    `-- h3
 *  |    |         `-- span.news-date
 *  |    |         |    `-- texte
 *  |    |         `-- span.news-titre
 *  |    |         |    `-- texte
 *  |    |         `-- span.news-theme
 *  |    |              `-- texte
 *  |    `-- p
 *  |    |    `-- texte
 *  |    |         `-- span.news-qui
 *  |    |              `-- texte
 *  |    `-- p
 *  |         `-- texte			(voir aussi)
 *  |         `-- a
 *  |             `-- texte
 *  `-- div.texte-news
 *  ...
 *
 * et :
 *
 * td.texte-page			(page de texte normale)
 *  `-- table + tr
 *  |    `-- td.accueil-news
 *  |         `-- h3
 *  |         |    `-- span.news-date
 *  |         |    |    `-- texte
 *  |         |    `-- span.news-titre
 *  |         |    |    `-- texte
 *  |         |    `-- span.news-theme
 *  |         |         `-- texte
 *  |         `-- h3
 *  |         ...
 *  |         `-- a
 *  |         |    `-- texte		(toutes les actualités)
 *  |         `-- a			(lien vers le flux rss)
 *  |              `-- img
 */

.news-date {
	font-size: 90%;
	font-weight: bold;
}
.news-theme {
	color: #515151;
	font-size: 85%;
	font-weight: normal;
}
.news-qui {
	font-size: 85%;
}
.texte-news a {
	font-weight: normal;
}

.accueil-news {
	padding: 20px 0px 0px 130px;
	font-size: 9px;
        margin: 0px;
	background-image: url(/images/journal3.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	border: 1px solid black;
}
.accueil-news h3 {
	display: block;
	padding: 0px;
        margin: 0px;
        color: #515151;			/* gris dans la page d'accueil */
        text-align: left;
	font-size: 10px;
	font-weight: normal;
	border: 1px solid green;
}
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/



.cadre_principal_assoc_wifi {
  	background-color: #ffffff;
        font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align : justify;
	font-size:8px;
	line-height: 50%;
}

.cadre_principal_assoc_wifi a {
	font-size:8px;
	line-height: 100%;
	color:red;
}

.accueil_titre {
	display: list-item;
	list-style-image: url(/images/fleche5.gif);
	list-style-position: inside;
	list-style-type: disc;
	color: #cc5229;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 5px;
	text-align: left;
	padding: 0px 0px 0px 0px;
}

.accueil_image {
  	text-align: left;
  	border: 0px; 
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 5px;
  	padding: 30px 0px 30px 0px;
}

.accueil_item {
	margin-left: 16px;
	margin-bottom: -16px;
	padding: 0px 0px 0px 0px;
	display: list-item;
	list-style-image: url(/images/tiret.gif);
	list-style-position: outside;
	list-style-type: disc;
}

.accueil_item img{
	padding: 0px 0px 0px 0px;
	margin-bottom: -3px;
}

.accueil {
	color: #616161;
        font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 0px;
	margin-top: 15px;
	margin-left: 15px;
	padding: 0px;
}
.accueil a {
	color: #616161;
	text-decoration: none;
        font-weight: bold;
	line-height: 140%;
	width: 100%;
}
.accueil a:visited {
	color: #616161;
	text-decoration: none;
	border-style: none none none none;
}
.accueil a:active {
	color: #616161;
	text-decoration: none;
	border-style: none none none none;
}
.accueil a:link {
	color: #616161;
	text-decoration: none;
	border-style: none none none none;
}
.accueil a:hover {
	color: #cc5229;
        font-weight: bold;
  	vertical-align: bottom;
	border-style: none none none none;
}


.separator {
	border-left: #C7D2E2;
	border-width: 0 0 0 1px;
	border-style: none none none solid;
}

.fakecolonne {
	width: 15%;
}

.tab_middle {
	margin: 10px 10px 0px 10px;
	padding: 0 0 0 0;
	border-top: #C7D2E2;
	border-width: 1px 0 0 0;
	border-style: solid none none none;
	background-color: #ffffff;
}

.cadre_orange {
  	text-align:center;
	border-bottom: 1px solid #cc5229; 
	border-top: 1px solid #cc5229; 
	border-left: 1px solid #cc5229; 
	border-right: 1px solid #cc5229; 
	padding: 10px 10px 10px 10px;
  	margin-top: 20px;
  	margin-bottom: 30px;
  	margin-left: 30px;
  	margin-right: 30px;
}

.cadre_wifi {
	padding: 10px 10px 10px 10px;
  	margin-top: 20px;
  	margin-bottom: 30px;
  	margin-left: 30px;
  	margin-right: 30px;
}


a:link {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #cc5229;
	font-weight: bold;
        text-decoration: underline;
}
a:active {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}





dl, dt, dd, ul, li {
	margin: 0px;
	padding: 0px;
  	width: 160;
  	text-align:left;
	list-style-position: none;
	list-style-type: none;
}

