#
# Standard netmagis.conf file
#

##############################################################################
# Common modules
##############################################################################

dnsdbhost	db.mycompany.com
dnsdbport	5432
dnsdbname	netmagis
dnsdbuser	dns
dnsdbpassword	password-of-dnsdbuser

macdbhost	db.mycompany.com
macdbport	5432
macdbname	mac
macdbuser	dns
macdbpassword	password-of-macdbuser

pkgtcl		%NMLIBDIR%/pkgtcl

msgsdir		%NMLIBDIR%/msgs

# just display my login name
whoami		"id -u -n"

debug		no

# list of users who can bypass the nologin test, separated by one space
# and who can administer database
rootusers	"pda jean"

##############################################################################
# Database maintenance
##############################################################################

dumpdir		%NMVARDIR%/dbdump
dbcopy		netmagis-sandbox

##############################################################################
# Server scripts (BIND, ISC-DHCPD, Sendmail/Postfix)
##############################################################################

# diff command for verbose output
diff		"diff --unified=0 %s -"

########################################
# mkzone
########################################

# where BIND daemon expects to find zone files
zonedir		/etc/namedb/master

# tell BIND to reload files
zonecmd		"rndc reload"

########################################
# mkmroute
########################################

# where sendmail expects to find mail route file
mroutefile	/etc/mail/mroute

# static prologue for the mail routing file
mrouteprologue	/etc/mail/mroute.prologue

# format of lines in mail route file, adapted to sendmail
#   %1$s: mail domain
#   %2$s: mail host
mroutefmt	"%1$-40s smtp.[%2$s]"

# shell command to post-process file if a modification is done
# You can include a command to propagate generated file to other
# mail routers if you have more than one
mroutecmd	"cd /etc/mail ; /usr/sbin/makemap -N hash mroute < mroute"

########################################
# mkdhcp
########################################

# where dhcpd expects to find generated config file (pointed to by dhcpd.conf)
dhcpfile	/etc/dhcp-gen.conf

# dhcp failover text to add to generated pools. Keep empty if you don't
# have any DHCP failover configuration.
#dhcpfailover	"failover peer "dhcp"; load balance max seconds 3;"
dhcpfailover	""

# command to test dhcpd configuration file
dhcptest	"/usr/local/sbin/dhcpd -t -cf /etc/dhcpd.conf"

# command to restart dhcpd
dhcpcmd		"sh /usr/local/etc/rc.d/isc-dhcpd.sh restart"

########################################
# mksmtpf
########################################

# where filter expects to find generated file
pffile		/etc/smtpf.pf

# format of lines in filter file. Adapt to your packet filter
pffmt		"%s"

# static prologue for the filter file
pfprologue	/etc/smtpf-prol.pf

# command to test filter file
pftest		"pfctl -q -n -t smtpf -T replace -f /etc/smtpf.pf"

# command to reload filter
pfcmd		"pfctl -q -t smtpf -T replace -f /etc/smtpf.pf"

##############################################################################
# Web module
##############################################################################

templatedir	%NMLIBDIR%/tmpl

nologinfile	%ETCDIR%/netmagis.nologin

# empty string (internal auth) or external URL to change password
#passwdurl	https://www.mycompany.com/chpasswd?uid=%s
passwdurl	""			# internal

pdflatex	/usr/local/bin/pdflatex
dot		/usr/local/bin/dot	# part of graphviz
ps2pdf		%NMLIBDIR%/ps2pdf
hostcmd		/usr/bin/host

# if internal authentication
pwgen		/usr/local/bin/pwgen --num-passwords=1 --numerals 12
crypt		openssl passwd -1 %s


# empty string = localhost
topohost	""
topouser	""

# topo* keys are used also by the web and the topo modules
topobindir	%NMLIBDIR%/topo
topograph	%NMVARDIR%/network.graph

metrohost	metro.mycompany.com

##############################################################################
# Topo module (on topohost machine)
##############################################################################

rancidcmd	/usr/local/libexec/rancid/rancid-run
ranciddb	/usr/local/var/rancid/mygroup/router.db
rancidconfdir	/usr/local/var/rancid/mygroup/configs

# how to send commands on equipments
# -u user on equipment (modconf here)
# -p passwd on equipment
sendcisco	/usr/local/libexec/rancid/clogin -autoenable -u modconf -p password
sendhp		/usr/local/libexec/rancid/hlogin -autoenable -u modconf -p password
sendjuniper	/usr/local/libexec/rancid/jlogin -u modconf -p password

fpingcmd	/usr/local/sbin/fping %s

# takes a message on stdin and write it in the syslog
logger		/usr/bin/logger -i -p local0.err -t topod

eqvirtdir	%NMVARDIR%/eqvirt
eqgendir	%NMVARDIR%/eqgen

# check if router interfaces are declared in the DNS (yes/no)
checkrouterif	no		# future use
# apply local policy to get ssid sensors (yes/no)
ssidsensors	no		# future use

copycommand	/usr/bin/ssh
copydest	""

##############################################################################
# Metro module 
##############################################################################

# default domain name
defaultdomain   u-strasbg.fr

metrodatadir	%NMVARDIR%/metro

rrdtool        	/usr/bin/rrdtool
rrddb		%NMVARDIR%/metro/db
# rrdtool database : time of retention of the data (years)
# rrddbretention	10

# time of sensor activity in days after disappearance in topo database
sensorsurvival 	30

# Configuration of polling processes 
#
## create groups and associate to them type of sensors.
### list of groups
pollergroups	default,plugins
#
### by default all type of probes are associated to the group default
### except the type "plugin"
gpopt_default   !plugin
### the probe type "plugin" is associated to the group plugins
gpopt_plugins	plugin
#
## Set here the number of processes poller launched for each group
gpnbproc_default	3
gpnbproc_plugins	1

## Here is a more specific group configuration example :
## 3 groups are created.
## - The default group executes all type of probes except "plugin","ipmac",
## "portmac.cisco","portmac.hp",portmac.juniper".
## - The ipmacport group executes only the type of probes "ipmac","portmac.cisco",
## "portmac.hp",portmac.juniper".
## - The plugin group executes only the type of probes "plugin".
# pollergroups	default,ipmacport,plugins
# gpopt_default   !plugin,!ipmac,!portmac.cisco,!portmac.hp,!portmac.juniper
# gpopt_ipmacport ipmac,portmac.cisco,portmac.hp,portmac.juniper
# gpopt_plugins	plugin
# gpnbproc_default	3
# gpnbproc_ipmacport  	1
# gpnbproc_plugins	1

# set SNMP timeout
snmptimeout	4

# optional : set the interfaces speed (Mbps) 
# syntax : ifspeed_<interface_prefix>
ifspeed_Dot11Radio      300
ifspeed_FastEthernet	100

# log configuration
pollerlogfacility 	local0  # log for polling
majdblogfacility	local1  # log for probes creation
pollerlogpt		info 	# default log level
